html{
    font-family: 'Droid Sans', 'Droid Serif', sans-serif;
}

body {
    background-color: #111;
    background-image: url("../data/images/bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

#preloader {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#fff; /* change if the mask should have another color then white */
    z-index:99; /* makes sure it stays on top */
}

#status {
    width:200px;
    height:200px;
    position:absolute;
    left:50%; /* centers the loading animation horizontally one the screen */
    top:50%; /* centers the loading animation vertically one the screen */
    background-image:url(../data/images/loading.gif); /* path to your loading animation */
    background-repeat:no-repeat;
    background-position:center;
    margin:-100px 0 0 -100px; /* is width and height divided by two */
}

#language {
    position: absolute;
    top: 20px;
    right: 50px;
    list-style-type: none;
}

#language li {
    float: left;
    margin-right: 5px;
}

#language a {
    text-decoration: none;
    color: #FFFFFF;
}

#language a:hover {
    text-decoration: underline;
}

.main_container {
    width: 50%;
    min-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

.main_container > .container {
    width: 92%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    overflow: hidden;
}

.main_container > .error {
    background-color: red;
}

#content {
    height: 100px;
    background: white;
}

#footer_main_container
{
    width: 100%;
    min-width: 900px;
    height: auto;
    text-align: center;
    position: fixed;
    bottom: 0;
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: normal;
}

#footer_container
{
    background-color: #37564B;
    padding-top: 5px;
    padding-bottom: 5px;
}

.footer_table_setup
{
    margin-left:auto;
    margin-right:auto;
}

.footer_table_setup #space
{
    padding-left: 40px;
    padding-right: 40px;
}

.footer_table_setup td
{
    color: #FFF;
    text-align: center;
}

.footer_table_setup a
{
    color: #FFF;
    text-decoration: none;
}

.footer_table_setup a:hover
{
    color: #FFF;
    text-decoration: underline;
}