---
layout: de-default
---

<!--BBAMBB-->
<div class="row" style="padding-top: 60px; padding-bottom: 60px;">
    <a id="bbambb" class="anchor"></a>
    <div class="col-md-12 text-center">
        <h2 class="text_header">Gastieren in 150-Jähriger Geschichte mit modernem Charme.</h2>
    </div>
    <div class="col-md-12 text-center">
        <h2 class="text_header">Herzlich Willkommen im Bed and Breakfast am Bühlberg,</h2>
    </div>
    <div class="col-md-12 text-center">
        <h2 class="text_header">in unserem wunderschönen Original-Simmentaler Bauernhaus an der Lenk!</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-8 col-md-push-2 text-center">
        {% include BBAMBB_Image.html %}
    </div>
</div>

<div class="row" style="padding-top: 60px; padding-bottom: 60px;">
    <div class="col-md-8 col-md-push-2">
        <p>
            Das um 1850 erbaute Haus wurde liebevoll in ein gemütliches Wohn- und Gästehaus umgebaut.
            Dabei sind alte, traditionelle Elemente erhalten geblieben und mit modernem Design ergänzt worden.
            Sechs freundlich eingerichtete Gästezimmer, eine gemütliche Scheune mit Cheminée und angrenzender
            Laube, sowie unser schöner Garten laden zum Verweilen ein. Für Sportgeräte, wie Skis und Bikes gibt
            es einen Nebenraum mit genügend Platz und Aufbewahrungsmöglichkeiten.
        </p>
        <p>
            Wir, Andrea und Markus, haben unser Märchen wahr werden lassen und möchten Sie nun als Gäste in
            unserem Bed and Breakfast begrüssen. Mit grosser Leidenschaft für Haus und Garten und das Bewirten
            von Gästen machen wir Ihren Aufenthalt zu einer unvergesslichen Zeit.
        </p>
    </div>
</div>


<!--ROOMS-->
<div class="row" style="background-image: url('{{ "/resources/images/rooms/header.jpg" | prepend: site.baseurl }}');background-position:center center;background-size:cover;height: 680px;">
    <a id="rooms" class="anchor"></a>
    <div class="col-md-8 col-md-push-2 text-center">
        <h3 class="text_header" style="margin-top: 100px">
            Unsere sechs liebevoll eingerichteten Zimmer verfügen
            alle über ein eigenes Bad mit Dusche und WC.
            Besonderen Charme verleiht den individuellen Zimmern die
            Kombination aus alten stilechten Bauernmöbeln mit
            modernem Design. Hochwertige Sanitäranlagen und eine
            schlichte, geschmackvolle Einrichtung bieten Ihnen Erfrischung
            und Erholung nach einem ereignisreichen Tag.
        </h3>
    </div>
</div>
<div class="row" style="padding-top: 50px;">
    <div class="col-md-8 col-md-push-2">
        <strong style="font-size: 16px;">DOPPELZIMMER</strong>
    </div>
</div>
{% for room in site.rooms %}
    {% if room.language  == "de" %}
        {% if room.category  == "double" %}
            {{ room.output }}
        {% endif %}
    {% endif %}
{% endfor %}

<div class="row" style="padding-top: 50px;">
    <div class="col-md-8 col-md-push-2">
        <strong style="font-size: 16px;">EINZELZIMMER</strong>
    </div>
</div>
{% for room in site.rooms %}
    {% if room.language  == "de" %}
        {% if room.category  == "single" %}
            {{ room.output }}
        {% endif %}
    {% endif %}
{% endfor %}

<!--LOCALITY-->
<div class="row" style="background-color:blue;height:300px;">
    <a id="locality" class="anchor"></a>
</div>

<!--OFFERS-->
<div class="row" style="background-color:red;height:300px;">
    <a id="offers" class="anchor"></a>
</div>

<!--RESERVATION-->
<div class="row" style="background-color:gray;height:300px;">
    <a id="reservation" class="anchor"></a>
</div>
