---
layout: de-default
---

<!--BBAMBB-->
<a id="bbambb" class="anchor"></a>
<div class="row" style="padding-top: 60px; padding-bottom: 60px;">
    <div class="col-md-12 text-center">
        <h2 class="text_header">Gastieren in 150-Jähriger Geschichte mit modernem Charme.</h2>
    </div>
    <div class="col-md-12 text-center">
        <h2 class="text_header">Herzlich Willkommen im Bed and Breakfast am Bühlberg,</h2>
    </div>
    <div class="col-md-12 text-center">
        <h2 class="text_header">in unserem wunderschönen Original-Simmentaler Bauernhaus an der Lenk!</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-8 col-md-push-2 text-center">
        {% include BBAMBB_Image.html %}
    </div>
</div>

<div class="row" style="padding-top: 60px; padding-bottom: 60px;">
    <div class="col-md-8 col-md-push-2">
        <p>
            Das um 1850 erbaute Haus wurde liebevoll in ein gemütliches Wohn- und Gästehaus umgebaut.
            Dabei sind alte, traditionelle Elemente erhalten geblieben und mit modernem Design ergänzt worden.
            Sechs freundlich eingerichtete Gästezimmer, eine gemütliche Scheune mit Cheminée und angrenzender
            Laube, sowie unser schöner Garten laden zum Verweilen ein. Für Sportgeräte, wie Skis und Bikes gibt
            es einen Nebenraum mit genügend Platz und Aufbewahrungsmöglichkeiten.
        </p>
        <br>
        <p>
            Wir, Andrea und Markus, haben unser Märchen wahr werden lassen und möchten Sie nun als Gäste in
            unserem Bed and Breakfast begrüssen. Mit grosser Leidenschaft für Haus und Garten und das Bewirten
            von Gästen machen wir Ihren Aufenthalt zu einer unvergesslichen Zeit.
        </p>
    </div>
</div>

<!--ROOMS-->
<a id="rooms" class="anchor"></a>
<div class="row hidden-xs" style="background-image: url('{{ "/resources/images/rooms/header.jpg" | prepend: site.baseurl }}');background-position:center center;background-size:cover;height: 680px;">
    
    <div class="col-md-8 col-md-push-2 text-center">
        <h3 class="text_header" style="margin-top: 100px">
            Unsere sechs liebevoll eingerichteten Zimmer verfügen
            alle über ein eigenes Bad mit Dusche und WC.
            Besonderen Charme verleiht den individuellen Zimmern die
            Kombination aus alten stilechten Bauernmöbeln mit
            modernem Design. Hochwertige Sanitäranlagen und eine
            schlichte, geschmackvolle Einrichtung bieten Ihnen Erfrischung
            und Erholung nach einem ereignisreichen Tag.
        </h3>
    </div>
</div>
<div class="row" style="padding-top: 50px;">
    <div class="col-md-8 col-md-push-2">
        <strong style="font-size: 16px;">DOPPELZIMMER</strong>
    </div>
</div>
{% for room in site.rooms %}
    {% if room.language  == "de" %}
        {% if room.type  == "double" %}
            {{ room.output }}
        {% endif %}
    {% endif %}
{% endfor %}

<div class="row" style="padding-top: 50px;">
    <div class="col-md-8 col-md-push-2">
        <strong style="font-size: 16px;">EINZELZIMMER</strong>
    </div>
</div>
{% for room in site.rooms %}
    {% if room.language  == "de" %}
        {% if room.type  == "single" %}
            {{ room.output }}
        {% endif %}
    {% endif %}
{% endfor %}

<div class="row">
    <div class="col-md-8 col-md-push-2">
        <div class="col-md-6">
            <img src="/resources/images/LST_Label_Sommer_0Sterne.png" class="img-responsive lst-label" alt="...">
        </div>
        <div class="col-md-6">
            <img src="/resources/images/LST_Label_Winter_4Sterne.png" class="img-responsive lst-label" alt="...">
        </div>
    </div>
</div>

<div class="row hidden-xs">
    <div id="roominfo" class="col-md-6 col-md-push-3 col-sm-10 col-sm-push-1" style="margin-top: 50px; margin-bottom: 50px;">
        <div class="row" style="margin-left: 10px;">
            <div>
                <p>
                    <strong>
                        Preise (Hochsaison / Nebensaison) gelten pro Person und Nacht.<br>
                        inkl. Frühstück, MwSt. und Kurtaxen.<br>
                    </strong>
                    Hochsaison: {{ site.OnSeason }}<br>
                    Nebensaison: {{ site.OffSeason }}
                </p>
            </div>
        </div>

        <div class="row" style="margin-top: 30px; margin-left: 10px;">
            <div>
                <p>
                    Unser Haus ist für Kinder nicht eingerichtet.<br>
                    Hunde sind in Absprache erlaubt, CHF {{ site.PriceDog }} pro Nacht.
                </p>
            </div>
        </div>

        <div class="row" style="margin-top: 30px; margin-left: 10px;">
            <div>
                <p>
                    <strong>
                        Bei Einzelbelegung der Doppelzimmer werden zusätzlich bis zu CHF {{ site.ExtraPriceSingleInDouble }} verrechnet.<br>
                        Jedes Zimmer verfügt über Internetanschluss.<br>
                    </strong>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-8 col-md-push-2 text-center">
        {% include ROOMS_Image.html %}
    </div>
</div>

<!--LOCALITY-->
<div class="hidden-xs">
    <a id="locality" class="anchor"></a>
    <div class="row" style="padding-top: 60px; padding-bottom: 60px;">
        <div class="col-md-12 text-center">
            <h2 class="text_header">Am «länge Egg», einem markanten Nordgrat des Oberlaubhornes und</h2>
        </div>
        <div class="col-md-12 text-center">
            <h2 class="text_header">darum auch «an der Lenk», liegt das Dorf am Fusse des Wildstrubels</h2>
        </div>
        <div class="col-md-12 text-center">
            <h2 class="text_header">auf 1068 m ü. M. und bildet den Abschluss des Simmentals.</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 col-md-push-2 text-center">
            {% include LOCALITY_Image.html %}
        </div>
    </div>

    <div class="row" style="padding-top: 60px; padding-bottom: 60px;">
        <div class="col-md-8 col-md-push-2">
            <p>
                Im Sommer ist Lenk ein Wanderparadies für Naturliebhaber. Ob gemütliche Spaziergänge, anspruchsvolle
                Wanderrouten oder Biketouren, die Umgebung ist vielseitig und immer wieder neu zu erkunden.
            </p>
            <br>
            <p>
                Im Winter liegt das Skigebiet Adelboden-Lenk praktisch vor unserer Haustür, der öffentliche Bus wenige
                Meter vom Haus bringt Sie zur Bühlbergstation, welche auch mit dem Auto erreichbar ist. Wollen Sie es
                etwas ruhiger angehen, bietet Lenk ausgedehnte Langlauf-Loipen und Winter-Wanderwege.
            </p>
            <br>
            <p>
                Lenk hat auch kulturell und kulinarisch viel zu bieten, traditionelle Älplerfeste, musikalische Jazz Tage,
                Unterhaltungsveranstaltungen wie «Das Zelt», Filmspektakel im Dorfkino, Konzerte und eine Vielzahl an
                hervorragenden Restaurants mit regionalen Spezialitäten. Gerne informieren wir Sie über aktuelle
                Veranstaltungen während Ihres Aufenthalts bei uns.
            </p>
        </div>
    </div>
</div>

<!--OFFERS-->
<a id="offers" class="anchor"></a>
<div class="row" style="background-image: url('{{ "/resources/images/offers/header.jpg" | prepend: site.baseurl }}');background-position:center center;background-size:cover;height: 680px;"> 
    <div class="col-md-8 col-md-push-2 text-center">
        <h3 class="text_header white" style="margin-top: 100px">
          Selbstgemachtes mit viel Leidenschaft und einer Prise Bergluft.
          Unsere Köstlichkeiten werden jeden Tag frisch zubereitet.
          Wir legen wert auf regionale Produkte aus der Umgebung und
          auf eigens Angebautes aus unserem Garten.
        </h3>
    </div>
</div>

<div class="row" style="margin-top: 50px;">
    <div class="col-md-8 col-md-push-2">
        <h4><strong>KULINARISCHES ANGEBOT</strong></h4>
        <div>
            <strong>Im Preis inbegriffen</strong>
            <p>
                Unser Frühstücks-Buffet mit Hausgemachtem und regionalen Produkten. Zwischen {{ site.BreakfastTime }} Uhr wird in
                unserer Scheune aufgetischt. Frischen Tee, Mineralwasser und Obst stellen wir Ihnen auf Wunsch gerne
                zur Verfügung.
            </p>
        </div>
        <div style="margin-top: 15px">
            <strong>Weitere Angebote, nicht im Preis inbegriffen</strong>
            <p>
                Auf Wunsch und Voranmeldung bis {{ site.DinnerReservationUntil }} Uhr servieren wir Ihnen ein köstliches
                3-Gang Menu zum Nachtessen (CHF {{ site.DinnerPrice }} pro Person). Eine erlesene Weinkarte erleichtert Ihnen die Auswahl
                für einen guten Tropfen.
            </p>
        </div>
    </div>
    <div class="col-md-8 col-md-push-2" style="margin-top: 30px">
        <h4><strong>SPECIALS FÜR GRUPPEN</strong></h4>
        <p>
            Unser Haus eignet sich auch für kleinere Gruppen. Ein geplantes Skiwochenende, Wander- oder Bikeferien
            unter Freunden, Teamausflüge oder Seminare und Kurse. Wir haben grosszügige Räumlichkeiten,
            die tagsüber von Gruppen genutzt werden können und unsere Zimmer bieten Platz für max. 9 Personen.
        </p>
        <p style="margin-top: 25px">
            Gerne organisieren wir mit Ihnen und Fachleuten vor Ort Ausflüge und Anlässe, sei es eine Bergtour mit
            ortskundigem Guide, eine Kreativwoche unter fachlicher Leitung oder ein Angelausflug in der Region.
            Lassen Sie uns Ihre Ideen wissen und wir stellen ein individuelles Programm für Sie zusammen.
        </p>
        <p style="margin-top: 25px">
            Offerte auf Anfragen an: <br>
            <a href="mailto:info@bambb.ch">info@bbambb.ch</a> <br>
            +41 (0)33 733 04 19
        </p>
    </div>
</div>

<div class="row" style="margin-top: 50px; margin-bottom: 50px">
    <div class="col-md-8 col-md-push-2 text-center">
        {% include OFFERS_Image.html %}
    </div>
</div>

<!--RESERVATION-->
<a id="reservation" class="anchor"></a>
<div class="row" style="background-color:#083216; padding-bottom:30px;">
    <div class="col-md-8 col-md-push-2">
            <div class="row formRow">
                <div class="col-md-12">
                    <h3 style="color:white; padding-top:20px;">RESERVATIONSANFRAGE UND KONTAKT</h3>
                </div>
            </div>
            <div class="row formRow" style="padding-bottom: 15px;">
                <div class="col-md-12">
                    <hr>
                </div>
            </div>

            <div id="sendingRequestLoader" class="row formRow">
                <div class="col-md-12 text-center">
                    <div class="throbber-loader">
                        Sending request...
                    </div>
                </div>
            </div>

            <form id="reservationForm" action="javascript:bookingRequest()">
                <div class="row formRow">
                    <div class="col-md-12">
                        <input type="radio" name="title" value="mr"> Herr
                        <input type="radio" name="title" value="ms"> Frau
                    </div>
                </div>
                <div class="row formRow">
                    <div class="col-md-6">
                        <input type="text" id="firstname" placeholder="Vorname" required>
                    </div>
                    <div class="col-md-6">
                        <input type="text" id="lastname" placeholder="Nachname" required>
                    </div>
                </div>
                <div class="row formRow">
                    <div class="col-md-6">
                        <input type="text" id="street" placeholder="Adresse, Nr.">
                    </div>
                </div>
                <div class="row formRow">
                    <div class="col-md-6">
                        <input type="text" id="zip" placeholder="Plz">
                    </div>
                    <div class="col-md-6">
                        <input type="text" id="city" placeholder="Stadt">
                    </div>
                </div>
                <div class="row formRow">
                    <div class="col-md-6">
                        <input type="text" id="country" placeholder="Land">
                    </div>
                </div>
                <div class="row formRow">
                    <div class="col-md-6">
                        <input type="text" id="birthdate" placeholder="Geburtsdatum">
                    </div>
                </div>
                <div class="row formRow">
                    <div class="col-md-6">
                        <input type="text" value id="arrival" placeholder="Anreise" required>
                    </div>
                    <div class="col-md-6">
                        <input type="text" value id="departure" placeholder="Abreise" required>
                    </div>
                </div>
                <div class="row formRow">
                    <div class="col-md-6">
                        <input type="number" min="1" value id="adults" placeholder="Anzahl Personen">
                    </div>
                </div>
                <div class="row formRow">
                    <div class="col-md-2">
                        Doppelzimmer <br>
                        <input type="checkbox" name="apartmentId" value="482BCB5C-94F4-400B-84D7-512917239417"> Wildstrubel <br>
                        <input type="checkbox" name="apartmentId" value="D14C40CD-39E1-4718-AB5E-713E90EC0E87"> Länge Egg <br>
                        <input type="checkbox" name="apartmentId" value="81740335-07BE-457D-B179-A53E70E902CF"> Betelberg
                    </div>
                    <div class="col-md-2">
                        Einzelzimmer <br>
                        <input type="checkbox" name="apartmentId" value="4D852D20-4D9C-455B-9F41-54332AAFA51D"> Leiterli <br>
                        <input type="checkbox" name="apartmentId" value="8940C2BC-7174-43B1-A769-84AE14A24D25"> Höji<br>
                        <input type="checkbox" name="apartmentId" value="BD70A0F0-2A25-4452-9600-9B490D1D00EF"> Buggeli
                    </div>
                    <div class="col-md-2">
                        Testzimmer <br>
                        <input type="checkbox" name="apartmentId" value="EDD68E85-36AB-497D-BD40-D7976DCD4F79"> Wohnung 1 <br>
                        <input type="checkbox" name="apartmentId" value="D00820C1-2216-4F4A-A62C-50E0364D6FCA"> Wohnung 2
                    </div>
                </div>
                <div class="row formRow">
                    <div class="col-md-12">
                        <textarea id="message" rows="5" placeholder="Mitteilung"></textarea>
                    </div>
                </div>
                <div class="row formRow">
                    <div class="col-md-12">
                        <input type="checkbox" id="acceptagb" required> Hiermit akzeptiere ich die AGB
                    </div>
                </div>
                <div class="row formRow">
                    <div class="col-md-12">
                        <input type="submit" id="sendRequestButton" value="Anfragen">
                    </div>
                </div>
            </form>
            <div class="row formRow" style="padding-top: 30px; padding-bottom: 30px;">
                <div class="col-md-12">
                    <hr>
                </div>
            </div>
        </div>
    <div class="col-md-8 col-md-push-2">
        <div class="row formRow">
            <div class="col-md-6">
                <div id="googlemaps" style="height: 400px;">
                    <iframe height="100%" width="100%" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2748.5446881630933!2d7.453101999999998!3d46.45771799999999!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478efc8d4f33707d%3A0xbf813796c3b82299!2sBed+and+Breakfast+am+B%C3%BChlberg!5e0!3m2!1sde!2sch!4v1420578928759" frameborder="0" style="border:0"></iframe>
                    <!--<iframe height="100%" width="100%" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=Bühlbergstrasse+108,+3775+Lenk&key=AIzaSyB6v1fXbasuSTBEJj18mH-dr3B6B-nbHeo"></iframe>-->
                </div>
            </div>
            <div class="col-md-6">
                <div id="info">
                    <strong>BITTE BEACHTEN</strong><br><br>
                    Einbahnverkehrsregelung<br>
                    Bühlbergstrasse im Winter<br><br>
                    Bergfahrten: von x.45 Uhr bis x.00 Uhr<br>
                    Talfahrten: von x.15 Uhr bis x.30 Uhr
                </div>
            </div>
        </div>
    </div>
</div>
