---
layout: en-default
---

<div class="row" style="background-color:gray;height:300px;">
    <a id="bbambb" class="anchor"></a>
</div>

<div class="row" style="background-color:green;height:300px;">
    <a id="rooms" class="anchor"></a>
    {% for room in site.rooms %}
    {% if room.language  == "en" %}
        {% if room.type  == "double" %}
            {{ room.output }}
        {% endif %}
    {% endif %}
{% endfor %}
</div>

<div class="row" style="background-color:blue;height:300px;">
    <a id="locality" class="anchor"></a>
</div>

<div class="row" style="background-color:red;height:300px;">
    <a id="offers" class="anchor"></a>
</div>

<div class="row" style="background-color:gray;height:300px;">
    <a id="reservation" class="anchor"></a>
</div>
