<div id="backgroundImage">
    <img/>
</div>

<nav id="navigation" class="visible-md visible-lg">
    <div class="container">
        <!--<div id="smallIconImage" class="row" style="text-align: center; margin-bottom: 20px">
            <img src="/resources/images/logo_small.png" style="width: 60px;"/>
        </div>-->
        <div class="row">
            <ul class="menu">
                <li><a data-scroll href="#bbambb">BBAMBB</a></li>
                <li><a data-scroll href="#rooms">ZIMMER</a></li>
                <li><a data-scroll href="#locality">ORTSCHAFT</a></li>
                <li><a data-scroll href="#offers">ANGEBOT</a></li>
                <li><a data-scroll href="#reservation">RESERVATION</a></li>
            </ul>
        </div>
    </div>
</nav>

<nav id="navigationMobile" class="visible-sm visible-xs">
    <div class="text-center" style="padding-top: 6px;">
        <button class="button-link glyphicon glyphicon-menu-hamburger" data-toggle="collapse" data-target="#collapseMenu" aria-expanded="false" aria-controls="collapseMenu" ></button>          
        <div class="collapse" id="collapseMenu">
            <ul class="menu">    
                <li><a data-scroll href="#bbambb">BBAMBB</a></li>
                <li><a data-scroll href="#rooms">ZIMMER</a></li>
                <li><a data-scroll href="#locality">ORTSCHAFT</a></li>
                <li><a data-scroll href="#offers">ANGEBOT</a></li>
                <li><a data-scroll href="#reservation">RESERVATION</a></li>
            </ul>
        </div>
    </div>
</nav>
