<div style="height:640px">
    <img/>
</div>

<nav id="navigation" class="visible-md visible-lg">
    <div class="container">
        <ul class="menu">
            <li><a data-scroll href="#bbambb">BBAMBB</a></li>
            <li><a data-scroll href="#rooms">ZIMMER</a></li>
            <li><a data-scroll href="#locality">ORTSCHAFT</a></li>
            <li><a data-scroll href="#offers">ANGEBOT</a></li>
            <li><a data-scroll href="#reservation">RESERVATION</a></li>
        </ul>
    </div>
</nav>

<nav id="navigationMobile" class="visible-sm visible-xs">
    <div class="container">
        <ul class="">
            <!---ToDo: Mobile Navigation-->
        </ul>
    </div>
</nav>
